<h1>WELCOME TO MARIO</h1>
<p>Hey hey hey, We are Mario and We are here to sell you food!</p>


<p>We are a family who have been serving this community since like three weeks ago. A long history of standing with the local community</p>

<p>At Mario, we believe in three things. Healthy food, healthy community, healthy communication, and that the moon is fake</p>

<p>Wait..whoops, that was four things. We at Mario believe in four things</p>

<% if current_user %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %> 
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign in', new_user_session_path %>
<% end %>

<% if @products.any? %>

<h4>What is new at Mario?</h4>
<ol>
  <% @products.three_most_recent.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ol>

<h4>USA! USA! USA! See what fine american products we have</h4>
<ul>
  <% @products.usa.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>
  <% end %>
</ul>

  <h4>See our most reviewed item!</h4>
  <ul>
    <% @products.most_reviewed.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% end %> 

<h4>Full Product List</h4>
<p><%= link_to "Look at all products", products_path %></p>
